{% extends "base.html" %}
{% load i18n %}

{% block content %}

{% if validlink %}

<p>Ingresa tu contraseña dos veces, de tal forma que podamos verificar que
está escrita correctamente</p>

<form action="" method="post">{% csrf_token %}
{{ form.new_password1.errors }}
<p class="aligned wide"><label for="id_new_password1">Nueva contraseña</label>{{ form.new_password1 }}</p>
{{ form.new_password2.errors }}
<p class="aligned wide"><label for="id_new_password2">Confirmar contraseña</label>{{ form.new_password2 }}</p>
<p><input type="submit" value="Cambiar mi contraseña" /></p>
</form>

{% else %}

<p>El enlace es inválido, posiblemente debido a que ya ha sido utilizado.</p>

{% endif %}

{% endblock %}
