{% extends "base.html" %}
{% block title%}El Gran Cazador México - Carnes Exóticas{% endblock %}
{% block header %}

<img src="{{ STATIC_URL}}img/exotic.jpg" alt="Forest" class="img-responsive large-image">
<div class="bck-overlay"></div>
<div class="info-text">
  <p class="litle-title">Conoce</p>
  <p class="large-title">Nuestras especialidades</p>
  <a href="{% url 'menu' %}" class="btn btn-title">click</a>
</div>

{% endblock %}

{% block content %}

<div class="col-md-12">
  <ol class="breadcrumb">
			<li><a href="{% url 'home' %}">Inicio</a></li>
      <li><a href="{% url 'shop' %}">Carnes Exóticas</a></li>
			<li class="active">{{ category.name }}</li>
		</ol>
	<h1 class="green-button-big-title">Carnes Exóticas</h1>
	<h2>Categorías de los Productos</h2>
</div>

<div class="col-md-4">
  <ul class="products-list">
  {% for category in categories %}
    <li>
      <a href="{% url 'detail_product' category.id %}">{{ category.name }}</a>
      {% if category.id == actual_category %}
        <ul class="subcategory">
          {% for product in products  %}
            <li><a href="{{ product.get_absolute_url }}" class="subcategory">{{ product.name | upper }}</a></li>
          {% endfor %}
        </ul>
      {% endif %}
    </li>
  {% endfor %}
  </ul>
</div>

<div class="col-md-8">
{% for product in  products %}
	<article class="product-info">

    <div class="product-details-box">
      <div class="col-md-6">
        <img src="{{ MEDIA_URL }}{{ product.image }}" alt="" class="img-thumbnail menu-images ">
       </div> 
      <div class="col-md-6">
        <div class="product-list">
            <h2>{{ product.name }}</h2>
            <div class="cart-button-menu add-cart" data="{{ product.id }}">
              <img src="{{ STATIC_URL}}img/carrito-blanco.png" alt="">
              <p>$ {{ product.price|floatformat:-2 }}</p>
            </div>
        </div>
      </div>
    </div>

    <div class="tabs">
			<ul class="nav nav-tabs" role="tablist">
				<li role="presentation" class="active"><a href="#home-{{ product.id }}" aria-controls="home" role="tab" data-toggle="tab">Descripción</a></li>
				<li role="presentation"><a href="#info-{{ product.id }}" aria-controls="profile" role="tab" data-toggle="tab">Información adicional</a></li>
			</ul>

			<div class="tab-content">
    		<div role="tabpanel" class="tab-pane active" id="home-{{ product.id }}">
          <p>DESCRIPCIÓN DEL PRODUCTO</p>
    			{{ product.description }}
    		</div>
    		<div role="tabpanel" class="tab-pane" id="info-{{ product.id }}">
          <p>INFORMACIÓN ADICIONAL</p>
    			{{ product.additional_information }}
    		</div>
  		</div>
		</div>
	</article>
{% endfor %}
</div>

<div class="col-md-12">
	<div class="center-line-text">
    <span>Productos Relacionados</span>
  </div>
</div>

<div class="row">
{% for product in related_products %}
<div class="col-md-4">
    <div class="shop-box-container">
      <a href="{% url 'detail_product_one' product.category.id product.id %}">
        <img src="{{ MEDIA_URL }}{{ product.image }}" alt="" class="img-thumbnail">
      </a>
      <div class="product-list related">
          <h2>{{ product.name }}</h2>
          <div class="cart-button-menu add-cart" data="{{ product.id }}">
            <img src="{{ STATIC_URL}}img/carrito-blanco.png" alt="">
            <p>$ {{ product.price|floatformat:-2 }}</p>
          </div>
      </div>
    </div>
</div>
{% endfor %}

</div>


<div class="row">

  <h2 class="shop-title">Restaurante</h2>

{% for menu in menues %}
<div class="col-md-4">
  <a href="{% url  'detail_menu' menu.category.id menu.id %}">
    <div class="shop-box-container">
      <img src="{{ MEDIA_URL }}{{ menu.image }}" alt="" class="img-thumbnail">
      <p class="product-name-article">{{ menu.name | upper }}</p>
    </div>
  </a>
</div>
{% endfor %}

</div>

<div class="row">

  <h2 class="shop-title">Blog</h2>

{% for post in posts %}
<div class="col-md-4">
    <div class="shop-box-container">
      <a href="{% url 'view_post' post.slug %}">
        <img src="{{ MEDIA_URL }}{{ post.image }}" alt="" class="img-thumbnail">
      </a>
      <a href="{% url 'view_post' post.slug %}" class="product-link-article">{{ post.title | upper }}</a>
    </div>
</div>
{% endfor %}

</div>

<div class="row">

  
    <a href="{% url 'blog_home' %}" class="see-more">Ver más</a>

</div>


{% endblock %}



{% block js %}
{% endblock js %}
