{% load static %}
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>{% block title%} {% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Icons -->
    <link rel="shortcut icon" href="{% static 'icon/favicon.ico' %}" type="icon/x-icon"/>
    <link rel="apple-touch-icon" href="{% static 'icon/apple-touch-icon.png' %}"/>
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'icon/apple-touch-icon-57x57.png' %} " />
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'icon/apple-touch-icon-72x72.png' %} " />
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'icon/apple-touch-icon-76x76.png' %} " />
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'icon/apple-touch-icon-114x114.png' %} " />
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'icon/apple-touch-icon-120x120.png' %} " />
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'icon/apple-touch-icon-144x144.png' %} " />
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'icon/apple-touch-icon-152x152.png' %} " />
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'icon/apple-touch-icon-180x180.png' %} " />
    <!-- Settings -->
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="Ariel Molina" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

    <link href="{{ STATIC_URL }}css/reset.css" rel="stylesheet" type="text/css">
    <link href="{{ STATIC_URL }}mobile/css/menu_sideslide.css" rel="stylesheet" type="text/css">
    <link href="{{ STATIC_URL }}css/main.css" rel="stylesheet" type="text/css">
</head>
<body>

    <header class="fijo-header">    
        <div class="block-header">
            <div class="header-info">
                <i class="fa fa-phone" aria-hidden="true"><a href="tel:55-5521-3927" title="">&nbsp;&nbsp;(55) 5521 - 3927&nbsp;&nbsp;&nbsp;</a></i>
                <i class="fa fa-envelope" aria-hidden="true"><a href="mailto:hola@elgrancazadormexico.com.mx?Subject=Contacto%20El-gran-cazador" target="_blank">&nbsp;&nbsp;hola@elgrancazadormexico.com.mx</a></i>
                {% if request.user.is_authenticated %}
                <a href="{% url 'cart:cart_detail' %}">&nbsp;&nbsp;<i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                {% endif %}
            </div>
        </div>        
        <!-- logo Moble -->
        <div class="button-menu icon-menu" id="open-button">
            <figure class="left">
                <a href="{% url 'home' %}" rel="home"><img src="{{ STATIC_URL }}img/logo.jpg" alt="El Gran Cazador México" height="36"></a>
            </figure>
        </div>
        <div class="menu-wrap">
            <nav class="menuslide">
                <div class="icon-list">
                    <ul>
                        <a href="{% url 'shop' %}"><span>Carnes Exóticas</span></a>
                        <a href="{% url 'price_list' %}"><span>Lista de Precios</span></a>
                        <a href="{% url 'menu' %}"><span>Restaurante</span></a>
                        <a href="{% url 'blog_home' %}"><span>Blog</span></a>
                        <a href="{% url 'contact' %}"><span>Contacto</span></a>
                        <a href="{% url 'about' %}"><span>Nosotros</span></a>
                        {% if request.user.is_authenticated %}
                        <a href="{% url 'cart:cart_detail' %}"><span><i class="fa fa-shopping-cart" aria-hidden="true"></i></span></a>
                        <a href="{% url 'profile' %}"><span>Perfil</span></a>
                        {% else %}
                        <a href="{% url 'login' %}"><span>Iniciar Sesión</span></a>
                        {% endif %}
                    </ul>
                </div>
            </nav>
            <button class="close-button" id="close-button">Close Menu</button>
        </div>
        <!-- logo Desktop -->
        <div class="container-fluid">
            <div class="row">
                <div class="row">
                    <div class="col-md-12">
                        <div class="wrap">
                            <div class="logo-desktop bloque-enlinea-centrado">
                                <figure class="logo-big">
                                    <a href="{% url 'home' %}" rel="home"><img src="{{ STATIC_URL }}img/logo_big.jpg" alt="El Gran Cazador México" height="40"></a>
                                </figure>
                            </div>
                            <nav class="menu bloque-enlinea-centredo">
                                <ul>
                                    <li><a href="{% url 'shop' %}">Carnes Exóticas</a></li>
                                    <li><a href="{% url 'price_list' %}">Lista de Precios</a></li>
                                    <li><a href="{% url 'menu' %}">Restaurante</a></li>
                                    <li><a href="{% url 'blog_home' %}">Blog</a></li>
                                    <li><a href="{% url 'contact' %}">Contacto</a></li>
                                    <li><a href="{% url 'about' %}">Nosotros</a></li>
                                    {% if request.user.is_authenticated %}
                                    <li><a href="{% url 'cart:cart_detail' %}">
                                        <img src="{{ STATIC_URL}}img/carrito.png" alt="" class="main-menu-cart">
                                    </a>
                                </li>
                                <li><a href="{% url 'profile' %}">Perfil</a></li>
                                {% else %}
                                <li><a href="{% url 'login' %}">Iniciar Sesión</a></li>
                                {% endif %}

                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<div id="page" class="site">
    <header id="masthead" class="site-header" role="banner">
        {% block header %}
        {% endblock %}
    </header>

    {% block container-2 %}                
    {% endblock container-2 %}

    {% block container-fluid %}
    {% endblock container-fluid %}

    <div class="container">
        <div class="row">
            {% block content %}
            {% endblock %}
        </div>
    </div>

    {% block prefooter %}
    {% endblock prefooter %}

    <footer id="colophon" class="site-footer" role="contentinfo">
        <div class="wrap padding10">

            <nav class="btn-serv-foot">
                <ul>
                    <li><a href="{% url 'shop' %}">Carnes Exóticas</a></li>
                    <li><a href="{% url 'price_list' %}">Lista de Precios</a></li>
                    <li><a href="{% url 'menu' %}">Restaurante</a></li>
                    <li><a href="{% url 'about' %}">Nosotros</a></li>
                    <li><a href="{% url 'blog_home' %}">Blog</a></li>
                    <li><a href="{% url 'contact' %}">Contacto</a></li>
                </ul>
            </nav>

            <ul class="share-buttons">
                <li><a href="#" title="Share on Facebook" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#" target="_blank" title="Share on LinkedIn"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                <li><a href="#" target="_blank" title="Share on Instragram"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            </ul>

            <form role="search" method="get" id="searchform" action="">
                <input type="text" value="" name="s" id="s" placeholder="BUSCA EN EL BLOG">
                <input type="submit" id="searchsubmit" value="" class="btn-search">
            </form>
        </div>
    </footer><!-- #colophon -->

</div><!-- #page -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://conektaapi.s3.amazonaws.com/v0.3.2/js/conekta.js"></script>
<script src="{{ STATIC_URL }}mobile/js/classie.js"></script>
<script src="{{ STATIC_URL }}mobile/js/main.js"></script>
<script src="{{ STATIC_URL }}js/script.js"></script>
{% block js %}            
{% endblock js %}

{% block postfooter %}
{% endblock postfooter %}
</body>
</html>
